$Primary-1:#FC5842;

$Color-1:#D1311C;
$Color-2:#FFF0EE;

$Color-800:#0C0C0C;
$Color-700:#393939;
$Color-600:#737373;
$Color-500:#969696;
$Color-400:#C7C7C7;
$Color-300:#D7D7D7;
$Color-200:#FBFBFB;
$Color-100:#FFFFFF;

$Green-300:#05C168;

$Red-400:#DC2B2B;
$Red-300:#FF5A65;
$Red-200:#FFBEC2;
$Red-100:#FFEFF0;

$Orange-300:#FF9E2C;