@import '/styles/variables.scss';

.checkbox{
  position: relative;
  &__wrapper{
    position: absolute;
    left: 10%;
    top: 10%;
  }
  &__input{
    cursor: pointer;
    position: absolute;
    z-index: 0;
    opacity: 0;
    width: 28px;
    height: 28px;
    &+label::before{
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $Color-400;
      border-radius: 7px;
      background-color: $Color-100;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    &:hover+label::before{
      background-color: $Color-400;
    }
    &+label{
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    &:checked+label::before{
      background-color: $Primary-1;
      border-color: $Primary-1;

    }
    &:checked:hover+label::before{
      background-color: $Red-400;
      border-color: $Red-400;
    }
  }
}
label{
  color: $Color-1;
}