.form{
    width: 622px;
    display: flex;
    flex-direction: column;
    gap:24px;
    &__title{
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: var(--font-THICCCBOI);
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.857%;
        margin: 48px 0px 0px; 
    }
}